<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 程序运行不需要相机硬件功能支持 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <!-- 网络相关 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 外部存储 -->
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 拍照权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 安装权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!-- 定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Android 13版本适配，细化存储权限 -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <!-- Android 11 软件包可见性适配：https://www.jianshu.com/p/d1ccd425c4ce -->
    <queries>
        <!-- 拍照意图：MediaStore.ACTION_IMAGE_CAPTURE -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>

        <!-- 拍摄意图：MediaStore.ACTION_VIDEO_CAPTURE -->
        <intent>
            <action android:name="android.media.action.VIDEO_CAPTURE" />
        </intent>

        <!-- 图片裁剪意图 -->
        <intent>
            <action android:name="com.android.camera.action.CROP" />
        </intent>

        <!-- 打电话意图：Intent.ACTION_DIAL -->
        <intent>
            <action android:name="android.intent.action.DIAL" />
        </intent>

        <!-- 调起分享意图：Intent.ACTION_SEND -->
        <intent>
            <action android:name="android.intent.action.SEND" />
        </intent>

        <!-- 调起其他页面意图：Intent.ACTION_VIEW -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
        </intent>

        <!-- 调起系统文件选择器：Intent.ACTION_GET_CONTENT -->
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
        </intent>
    </queries>

    <application
        android:name=".app.AppApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Smile"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,DataExtractionRules,LockedOrientationActivity"
        tools:replace="android:allowBackup,android:supportsRtl">
        <!-- 状态栏沉浸框架 -->
        <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />
        <!-- 表示当前已经适配了分区存储 -->
        <meta-data
            android:name="ScopedStorage"
            android:value="true" />

        <activity
            android:name=".ui.activity.AnnouncementActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SearchActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ReleaseActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Smile.SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 崩溃展示（必须在独立进程） -->
        <activity
            android:name=".ui.activity.CrashActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:launchMode="singleTop"
            android:process=":crash"
            android:screenOrientation="portrait" />
        <!-- 重启应用（必须在独立进程） -->
        <activity
            android:name=".ui.activity.RestartActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:launchMode="singleTop"
            android:process=":restart"
            android:screenOrientation="portrait" />
        <!-- 适配 Android 7.0 文件意图 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>